.backg-login{
    background: url("../img/bnpb.jpg");
    height: 500px;
    width: 500px;
    background-position: center;
    background-size: cover;
}
.jumbotron{
    background-image: url("../img/bg_logistik.jpg");
    background-size: cover;
    border-radius: 0px;	
    margin-bottom: 0px;
    height: 657px;
	background-attachment: fixed;
}